<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632166370880-j9drh7ta15ddpo4re8o7sl6afk91sjpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632166370880-j9drh7ta15ddpo4re8o7sl6afk91sjpf</string>
	<key>API_KEY</key>
	<string>AIzaSyDTwm8SNvJNIrL7XW9IXp7OFFqmaKj4kT4</string>
	<key>GCM_SENDER_ID</key>
	<string>632166370880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easypillClient</string>
	<key>PROJECT_ID</key>
	<string>easypill-93b67</string>
	<key>STORAGE_BUCKET</key>
	<string>easypill-93b67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632166370880:ios:03df38ce1a898e241659a5</string>
</dict>
</plist>